
@{
    ViewBag.Title = "InsertTodo";
}

@model List

@using WebApplication6.Models

<div style="
    width:100%;
    height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center">


    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="error">@ViewBag.ErrorMessage</div>
    }

    @using (Html.BeginForm("InsertTodo", "Todopage", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(model => model.lists)
            @Html.TextBoxFor(model => model.lists)
        </div>

        <div>
            @Html.LabelFor(model => model.startTime)
            @Html.TextBoxFor(model => model.startTime)
        </div>

        <div>
            @Html.LabelFor(model => model.endTime)
            @Html.TextBoxFor(model => model.endTime)
        </div>

        <div>
            <input type="submit" value="Insert" />
        </div>
    }

</div>